@import url(./vendor/fonts/index.css);
@import 'tailwindcss';

@theme {
  --color-section-border: rgba(134, 150, 160, 0.15);
  /* --font-inter-sans: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
}

@theme inline {
  --color-primary-txt: var(--root-primary-txt-color);
  --color-secondary-txt: var(--root-secondary-txt-color);
  --color-primary-bg: var(--root-primary-bg-color);
  --color-secondary-bg: var(--root-secondary-bg-color);
  --color-secondary-bg-diff: var(--root-secondary-bg-color-diff);
  --color-chat-mask: var(--root-color-chat-mask);
  --color-input: var(--root-color-input);
}

:root {
  --root-primary-txt-color: rgb(255, 255, 255);
  --root-secondary-txt-color: rgb(134, 150, 160);
  --root-primary-bg-color: #0c1317;
  --root-secondary-bg-color: #222e35;
  --root-secondary-bg-color-diff: #2a3942;
  --root-color-chat-mask: rgba(0, 0, 0, 0.85);
  --root-color-input: rgb(209, 215, 219);

  font-family: 'SF Pro Text', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--root-primary-txt-color);
  background-color: var(--root-primary-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    --root-primary-txt-color: #0c1317;
    --root-secondary-txt-color: #222e35;
    --root-primary-bg-color: rgb(255, 255, 255);
    --root-secondary-bg-color: rgb(220 241 253);
    --root-secondary-bg-color: rgb(235, 247, 254);
    --root-color-chat-mask: rgba(240, 243, 35, 0.3);
    --root-color-input: rgb(59, 74, 84);
  }
}
